{% load static %}

{% block showcase %}
<div class="showcase">
    <div class="content">
        <div class="main-body">
            <div class="container-fluid mt-4">
                <div class="row d-flex">
                    <div class="col-sm-6 mainBox">
                        {% block conditions %}
                            {% include 'components/conditions.html' %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-6">
                        {% block locations %}
                            {% include 'components/locations.html' %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-12">
                        {% block activities %}
                            {% include 'components/activities.html' %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-12">
                        {% block details %}
                            {% include 'components/details.html' %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-12">
                        {% block forecasts %}
                            {% include 'components/forecasts.html' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}