{% load static %}

{% block activities %}
<div class="card w-100 locat-activities">
    <div class="card-body">
        <div class="card-group activities-row">
            <div class="card">
                <img src="{% static 'images/dataIcons/sun.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">temp text</h5>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/dataIcons/sun.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">temp text</h5>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/dataIcons/sun.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">temp text</h5>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/dataIcons/sun.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">temp text</h5>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/dataIcons/sun.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">temp text</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}