{% load static %}

{% block locations %}
<div class="card locat-info">
    <div class="card-body">
        <div class="locatTitleBody">
            <p class="locatTitle">12345 Stree Avenue</p>
            <p class="locatTitle">Toon Town, CA, 92831</p>
            <p class="locatSubtitle">United States</p>
        </div>
        <br>
        <div class="alerts">
            <div class="alertBody">
                <p class="alertDate">Updated as of mm/dd/yyyy hh:mm:ss</p>
                <p class="alertText">This is an emergency alert message that you should read because it is very important.</p>
            </div>
            <div class="alertBody">
                <p class="alertDate">Updated as of mm/dd/yyyy hh:mm:ss</p>
                <p class="alertText">This is a weather alert message that you should read because it is very important.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}